body {
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
		background-color: #D9E9FF;
	}
	#wrapper {
		width: auto;
		margin:0px auto;
		padding:10px;
	}

	#header {
		height:80px;
		padding:10px;
		text-align: center;
		color: #B30707;

	}
	#content {
		margin-top:10px;
		padding-bottom:10px;
	}
	#content div {
		padding:10px;
		border:1px solid #bbb;
		float:left;
	}
	#content-left {
		margin-top: 200px;
		margin-left: 200px; 
		width:150px;
		height:170px;
		background-color: #777777;

	}
	#content-main {
		margin-left:200px;
		width:770px;
		height:40px;
		background-color: #777777;
	}

	#content-box1, #content-box2, #content-box3 {
		padding:10px;
		border:1px solid #bbb;
		position:absolute;
		margin-top:100px;
		height:400px;
		color: white
	}


#content-box1 {
		margin-left:450px;
		width:300px;
		background-color: #333333;
	}
	#content-box2 {
		margin-left:800px;
		width:310px;
		background-color: #333333;
	}
	#content-box3 {
		margin-left:1160px;
		width:312px;
		background-color: #333333;
	}

	#footer {
		float:left;
		margin-left: 150px;
		margin-top:500px;
		margin-bottom:10px;
		padding:10px;
		width:878px;
		text-align: center;
		color: #B30707
	}

	#bottom {
		clear:both;
		text-align:right;
	}
a {
	text-decoration: none;
	color: inherit;
}

/* Nav Bar Top */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}


li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

/* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #CCCCFF;
    color: black;
}


/* Nav Bar Left */


#navleft {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 150px;
    background-color: #333;
    border: 1px solid #555;

}

#lefta {
    display: block;
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}

#leftli {
    text-align: center;
    border-bottom: 1px solid #555;
    float: none;

}

/* Bar Graphs  */

.graph{
    border: 1px solid #aeaeae; 
    background-color: #eaeaea; 
    width: 290px; 
    height: 300px;
    position : relative;
    margin-left: 5px;

}

.graph > div{
  bottom: 0px;
  width:70px;
  position : absolute;
  background-color: #aeaeae; 
  margin: 0px;
  display : inline-block; 
  text-align: center;
}

#number {
	width: 0px;
	color: black;
}

#one {
	background-color: #B378D3;
	color: white;
}

#two {
	background-color: #EA80AB;
	color: white;
}

#three {
	background-color: #A5E35A;
	color: white;
}

/* Pie Chart */

		.pieContainer {
		 height: 300px;
		 background-color: white;
		 width: 300px;
		  }

		  	.pie { 
		  		position: absolute; 
		  		width: 300px; 
		  		height: 300px; 
		  		-moz-border-radius: 150px; 
		  		-webkit-border-radius: 150px; 
		  		-o-border-radius: 150px; 
		  		border-radius: 150px; 
		  		clip: rect(0px, 150px, 300px, 0px); 
		  		} 

		  	.hold { 
		  		position: absolute; 
		  		width: 300px; 
		  		height: 300px; 
		  		-moz-border-radius: 150px; 
		  		-webkit-border-radius: 150px; 
		  		-o-border-radius: 150px; 
		  		border-radius: 150px; 
		  		clip: rect(0px, 300px, 300px, 150px); 
		  		} 

		  	#pieSlice1 .pie { 
		  		background-color: #A5E35A; 
		  		-webkit-transform:rotate(150deg); 
		  		-moz-transform:rotate(150deg); 
		  		-o-transform:rotate(150deg); 
		  		transform:rotate(150deg); } 

		  	#pieSlice2 { 
		  		-webkit-transform:rotate(150deg); 
		  		-moz-transform:rotate(150deg); 
		  		-o-transform:rotate(150deg); 
		  		transform:rotate(150deg); 
		  		} 

		  	#pieSlice2 .pie { 
		  		background-color: #EA80AB; 
		  		-webkit-transform:rotate(110deg); 
		  		-moz-transform:rotate(110deg); 
		  		-o-transform:rotate(110deg); 
		  		transform:rotate(110deg); 
		  		} 



		  	#pieSlice4 { 
		  		-webkit-transform:rotate(260deg); 
		  		-moz-transform:rotate(260deg); 
		  		-o-transform:rotate(260deg); 
		  		transform:rotate(260deg); 
		  		}

		  	#pieSlice4 .pie { 
		  		background-color: #B378D3; 
		  		-webkit-transform:rotate(100deg); 
		  		-moz-transform:rotate(100deg); 
		  		-o-transform:rotate(100deg); 
		  		transform:rotate(100deg); 
		  		} 

#tier1 {
	float: left;
	margin-left: 20px;
	margin-right: 25px;
	color: #B378D3;
	text-align: center;
}

#tier2 {
	float: left;
	margin-right: 25px;
	color: #EA80AB;
	text-align: center;
}

#tier3 {
	float: left;
	color: #A5E35A;
	text-align: center;
}
















































